$color-blue-500: rgb(72, 72, 243);

/* color-grays */
$color-gray-50: #f9fafb;
$color-gray-100: #f3f4f6;
$color-gray-200: #e5e7eb;
$color-gray-300: #d1d5db;
$color-gray-400: #9ca3af;
$color-gray-500: #6b7280;
$color-gray-600: #4b5563;
$color-gray-700: #374151;
$color-gray-800: #1f2937;
$color-gray-900: #111827;

/* color blues */
$color-blue-50: #eff6ff;
$color-blue-100: #dbeafe;
$color-blue-200: #bfdbfe;
$color-blue-300: #93c5fd;
$color-blue-400: #60a5fa;
$color-blue-500: #3b82f6;
$color-blue-600: #2563eb;
$color-blue-700: #1d4ed8;
$color-blue-800: #1e40af;
$color-blue-900: #1e3a8a;

/* color red */
$color-red-50: #fef2f2;
$color-red-100: #fee2e2;
$color-red-200: #fecaca;
$color-red-300: #fca5a5;
$color-red-400: #f8718a;
$color-red-500: #ef446f;
$color-red-600: #dc2657;
$color-red-700: #b91c46;
$color-red-800: #991b52;
$color-red-900: #c31e47;

/* color green */
$color-green-50: #ecfdf5;
$color-green-100: #d1fae5;
$color-green-200: #a7f3d0;
$color-green-300: #6ee7b7;
$color-green-400: #34d399;
$color-green-500: #10b981;
$color-green-600: #059669;
$color-green-700: #047857;
$color-green-800: #065f46;
$color-green-900: #064e3b;

$color-yellow-50: #fffde7;
$color-yellow-100: #fff9c4;
$color-yellow-200: #fff59d;
$color-yellow-300: #fff176;
$color-yellow-400: #ffee58;
$color-yellow-500: #ffeb3b;
$color-yellow-600: #fdd835;
$color-yellow-700: #fbc02d;
$color-yellow-800: #f9a825;
$color-yellow-900: #f57f17;

$color-gradient-1: linear-gradient(18deg, #34d399 18%, #a7f3d0 100%);
