@import "./mixins";
@import "./colors";

.container {
  width: 100%;
  margin: 0px auto;
  padding: 10px;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1.5rem;

  [class^="col-lg"] {
    @include for-desktop-up {
      @include placeColumn($col: 12);
    }
  }
  [class^="col-md"] {
    height: 100%;
    @include for-tablet-landscape-up {
      @include placeColumn($col: 12);
    }
  }
  [class^="col-sm"] {
    @include for-phone-only-up {
      @include placeColumn($col: 12);
    }
  }
}

// large screen
.col-lg-1 {
  @include placeColumn($col: 1);
}
.col-lg-2 {
  @include placeColumn($col: 2);
}
.col-lg-3 {
  @include placeColumn($col: 3);
}
.col-lg-4 {
  @include placeColumn($col: 4);
}
.col-lg-5 {
  @include placeColumn($col: 5);
}
.col-lg-6 {
  @include placeColumn($col: 6);
}
.col-lg-7 {
  @include placeColumn($col: 7);
}
.col-lg-8 {
  @include placeColumn($col: 8);
}
.col-lg-9 {
  @include placeColumn($col: 9);
}
.col-lg-10 {
  @include placeColumn($col: 10);
}
.col-lg-11 {
  @include placeColumn($col: 11);
}
.col-lg-12 {
  @include placeColumn($col: 12);
}

// medium screen
.col-md-1 {
  @include placeColumn($col: 1);
}
.col-md-2 {
  @include placeColumn($col: 2);
}
.col-md-3 {
  @include placeColumn($col: 3);
}
.col-md-4 {
  @include placeColumn($col: 4);
}
.col-md-5 {
  @include placeColumn($col: 5);
}
.col-md-6 {
  @include placeColumn($col: 6);
}
.col-md-7 {
  @include placeColumn($col: 7);
}
.col-md-8 {
  @include placeColumn($col: 8);
}
.col-md-9 {
  @include placeColumn($col: 9);
}
.col-md-10 {
  @include placeColumn($col: 10);
}
.col-md-11 {
  @include placeColumn($col: 11);
}
.col-md-12 {
  @include placeColumn($col: 12);
}

// small screen
.col-sm-1 {
  @include placeColumn($col: 1);
}
.col-sm-2 {
  @include placeColumn($col: 2);
}
.col-sm-3 {
  @include placeColumn($col: 3);
}
.col-sm-4 {
  @include placeColumn($col: 4);
}
.col-sm-5 {
  @include placeColumn($col: 5);
}
.col-sm-6 {
  @include placeColumn($col: 6);
}
.col-sm-7 {
  @include placeColumn($col: 7);
}
.col-sm-8 {
  @include placeColumn($col: 8);
}
.col-sm-9 {
  @include placeColumn($col: 9);
}
.col-sm-10 {
  @include placeColumn($col: 10);
}
.col-sm-11 {
  @include placeColumn($col: 11);
}
.col-sm-12 {
  @include placeColumn($col: 12);
}

.col-xs-6 {
  grid-column: span 6;
}
