<div
  class="sidenav__main"
  [class.sidenav-collapsed]="!isMobileView && sidenavToggleState"
  [class.sidenav-mobile-opened]="isMobileView && sidenavToggleState"
>
  <ul class="sidenav__nav">
    <li
      class="sidenav__nav-item mb-5"
      routerLink="dashboard"
      routerLinkActive="route-active"
      (click)="isMobileView ? collapseSideNav() : openSideNav()"
    >
      <a class="sidenav__nav-item-link">
        <span *ngIf="isMobileView || !sidenavToggleState" class="menu--title"
          >Dashboard</span
        >
        <mat-icon class="material-symbols-outlined icon">dashboard</mat-icon>
      </a>
    </li>

    <li
      class="sidenav__nav-item mb-5"
      routerLink="client"
      [queryParamsHandling]="{ ignore: true }"
      routerLinkActive="route-active"
      (click)="isMobileView ? collapseSideNav() : openSideNav()"
    >
      <a class="sidenav__nav-item-link">
        <span *ngIf="isMobileView || !sidenavToggleState" class="menu--title"
          >Api Clients</span
        >
        <mat-icon class="material-symbols-outlined icon">devices</mat-icon>
      </a>
    </li>

    <li
      class="sidenav__nav-item mb-5"
      (click)="isMobileView ? collapseSideNav() : openSideNav()"
    >
      <a class="sidenav__nav-item-link">
        <span *ngIf="isMobileView || !sidenavToggleState" class="menu--title"
          >Scopes</span
        >
        <mat-icon class="material-symbols-outlined">dashboard</mat-icon>
      </a>
    </li>

    <li
      class="sidenav__nav-item mb-5"
      (click)="isMobileView ? collapseSideNav() : openSideNav()"
    >
      <a class="sidenav__nav-item-link">
        <span *ngIf="isMobileView || !sidenavToggleState" class="menu--title"
          >Identity Resources</span
        >
        <mat-icon class="material-symbols-outlined">dashboard</mat-icon>
      </a>
    </li>
  </ul>
</div>
