@import "../../../../styles/colors";
@import "../../../../styles/mixins";

.user-avatar {
  display: flex;
  align-items: center;
  column-gap: 15px;
  &--initial {
    padding: 8px 12px;
    border-radius: 50%;
    font-size: 14px;
    background-color: $color-green-300;
    color: #fff;
  }
  &--text {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
}

.material-symbols-outlined {
  color: $color-gray-400;
}
