<div class="groceteria-root-content">
  <groceteria-app-header></groceteria-app-header>
  <main class="app__main">
    <groceteria-sidenav></groceteria-sidenav>
    <div class="app__main-content" [class.superposition]="isMobileView && !sidenavToggleState">
      <groceteria-page-heading></groceteria-page-heading>
      <router-outlet></router-outlet>
    </div>
  </main>
</div>

<div class="loader__overlay" [class.overlay__hidden]="!isAppBusy && isAuthenticated">
  <mat-spinner diameter="40"></mat-spinner>
  <div class="loader__overlay-text">Please wait</div>
</div>