<nav class="navbar__main">
  <div class="navbar-wrapper--logo">
    <a class="navbar-brand">
        <img class="navbar-brand--img" src="../../../../assets/images/groceteria-logo-no-bg.png" alt="groceteria"/>
        <span class="navbar-brand--text">Groceteria</span>  
    </a>
  </div>
  <div class="navbar-wrapper--menu">
    <div class="menu-toggler">
      <i class="fa fa-bars"></i>
    </div>
    <ul class="menu-container">
      <li class="menu-item">
        <groceteria-user-avatar userName="Sharthak"></groceteria-user-avatar>
      </li>
      <li class="menu-item">
        <mat-icon class="material-symbols-outlined">notifications</mat-icon>
      </li>
      <li class="menu-item">
        <mat-icon matRipple class="material-symbols-outlined">power_settings_new</mat-icon>
      </li>
  </ul>
  </div>
</nav>
